<hr>

<h3>
  Support the show
</h3>

<p>
  Get your message in front of Inspect listeners by becomming a Sponsor. With a regular listener base of 500+ designers, developers and tech enthusiasts it would be a great opportunity to spread the word about your product.
</p>

<p>
  You can also support the show on Patreon. Full details can be found at <a href="http://inspect.fm/support/">inspect.fm/support</a>.
</p>

<p>
  Spread the love &mdash; <a target="_blank" href="{{ site.feeds.itunes }}">leave a rating on iTunes</a>. If you're feeling generous you could also write a review. It helps the podcast work it's way up the iTunes charts and will help other people find the show.
</p>


<h3>
  Get in touch
</h3>

<p>
  If you have any feedback or questions I'd love to hear from you. You can get in touch on twitter at:
</p>

<ul>
  <li>
    [@inspectfm](http://twitter.com/inspectfm)
  </li>
  <li>
    [@ajaykarwal](http://twitter.com/ajaykarwal)
  </li>
</ul>
