<footer class="site-footer">
  <div class="container">
    <div class="hosts">
      <h1>Hosted by</h1>
      <div class="host-profile">
        <img src="/images/ajay.jpg" alt="Photo of Ajay Karwal">
        <p class="name">Ajay Karwal</p>
        <p class="follow"><a href="https://twitter.com/ajaykarwal">Follow @ajaykarwal</a></p>
      </div>
      <div class="host-profile">
        <img src="/images/les.jpg" alt="Photo of Les McCutcheon">
        <p class="name">Les McCutcheon</p>
        <p class="follow"><a href="https://twitter.com/LesMac2">Follow @LesMac2</a></p>
      </div>
    </div>

    &copy; 2017, Inspect.
  </div> 
</footer>
