<header class="site-header">
  <div class="logo-bar">
    <div class="container">
      <nav class="site-nav">
        <ul>
          <li><a href="/episodes/">Episodes</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/sponsors/">Sponsors</a></li>
        </ul>
      </nav>
      <h1 class="logo"><a href="/">Inspect</a></h1>
    </div>
  </div>

  <div class="intro-bar container">

    <p class="intro">A weekly<em>(ish)</em> podcast about web development, design, technology &amp; other stuff.</p>

    <a class="btn" href="#">Subscribe on iTunes</a>
    <a class="btn" href="#">RSS Feed</a>
  </div>
  <div class="dot-divider">&middot;&middot;&middot;</div>
</header>
