<div class="sidebar">
  <div class="sidebar__item">
    <h3 class="sidebar__item--heading">Subscribe</h3>
    <ul class="sidebar__item--list subscribe-links">
      <li>
        <img src="/images/apple-podcasts.svg" alt="Subscribe on Apple Podcasts" />
        <a target="_blank" href="{{ site.feeds.itunes }}"> Apple Podcasts</a>
      </li>
      <li>
        <img src="/images/pocketcasts.svg" alt="Subscribe on Pocket Casts" />
        <a target="_blank" href="{{ site.feeds.pocket_casts }}"> Pocket Casts</a>
      </li>
      <li>
        <img src="/images/overcast.svg" alt="Subscribe on Overcast" />
        <a target="_blank" href="{{ site.feeds.overcast }}"> Overcast</a>
      </li>
      <li>
        <img src="/images/stitcher.svg" alt="Subscribe on Stitcher" />
        <a target="_blank" href="{{ site.feeds.stitcher }}"> Stitcher</a>
      </li>
      <li>
        <img src="/images/rss.svg" alt="Subscribe via RSS" />
        <a target="_blank" href="{{ site.feeds.rss }}"> RSS</a>
      </li>
    </ul>
  </div>
  <div class="sidebar__item">
    <h3 class="sidebar__item--heading">Hosted by</h3>
    <ul class="sidebar__item--list">
      <li>
        <p>
          Ajay Karwal
        </p>
        <a href="https://twitter.com/ajaykarwal">
          Follow @ajaykarwal
        </a>
      </li>
      <li>
        <p>
          Kay Mankoo
        </p>
        <a href="https://twitter.com/weared3lve">
          Follow @weared3lve
        </a>
      </li>
    </ul>
  </div>
</div>
