<div class="sidebar">
  <div class="container">
    <p class="intro">Inspect is a podcast about web development, design, technology &amp; some other random stuff.</p>
    
    <div class="sidebar__block">
      <h3>Hosted by</h3>
      <div class="host-profile">
        <img src="/images/ajay.jpg" alt="Photo of Ajay Karwal">
        <p class="name">Ajay Karwal</p>
      </div>
    </div>

    <div class="sidebar__block">
      <h3>Follow</h3>
      <ul class="sidebar__list">
        <li><a href="http://twitter.com/inspectfm">@inspectfm</a></li>
        <li><a href="http://twitter.com/ajaykarwal">@ajaykarwal</a></li>
      </ul>
    </div>

    <div class="sidebar__block">
      <h3>Subscribe</h3>
      <ul class="sidebar__list">
        <li><a target="_blank" href="{{ site.feeds.itunes }}">Apple Podcasts / iTunes</a></li>
        <li><a target="_blank" href="{{ site.feeds.pocket_casts }}">Pocket Casts</a></li>
        <li><a target="_blank" href="{{ site.feeds.overcast }}">Overcast</a></li>
        <li><a target="_blank" href="{{ site.feeds.stitcher }}">Stitcher</a></li>
        <li><a target="_blank" href="{{ site.feeds.rss }}">RSS</a></li>
      </ul>
    </div>
  </div>
</div>
