<div class="sidebar">
  <div class="sidebar__item">
    <h3 class="sidebar__item--heading">Subscribe</h3>
    <ul class="sidebar__item--list subscribe-links">
      <li>
        <a target="_blank" href="{{ site.feeds.itunes }}"
          ><img src="/images/apple-podcasts.svg" alt="Subscribe on Apple Podcasts" /> Apple Podcasts</a
        >
      </li>
      <li>
        <a target="_blank" href="{{ site.feeds.pocket_casts }}"
          ><img src="/images/pocketcasts.svg" alt="Subscribe on Pocket Casts" /> Pocket Casts</a
        >
      </li>
      <li>
        <a target="_blank" href="{{ site.feeds.overcast }}"
          ><img src="/images/overcast.svg" alt="Subscribe on Overcast" /> Overcast</a
        >
      </li>
      <li>
        <a target="_blank" href="{{ site.feeds.stitcher }}"
          ><img src="/images/stitcher.svg" alt="Subscribe on Stitcher" /> Stitcher</a
        >
      </li>
      <li>
        <a target="_blank" href="{{ site.feeds.rss }}"><img src="/images/rss.svg" alt="Subscribe via RSS" /> RSS</a>
      </li>
    </ul>
  </div>
  <div class="sidebar__item">
    <h3 class="sidebar__item--heading">Hosted by</h3>
    <ul class="sidebar__item--list">
      <li>
        <p>
          Ajay Karwal
        </p>
        <a href="https://twitter.com/ajaykarwal">
          Follow @ajaykarwal
        </a>
      </li>
      <li>
        <p>
          Kay Mankoo
        </p>
        <a href="https://twitter.com/weared3lve">
          Follow @weared3lve
        </a>
      </li>
    </ul>
  </div>
</div>
