<ul class="subscribe-buttons text-center">
  <li><a class="btn btn--inline btn--muted" target="_blank" href="{{ site.feeds.itunes }}">Apple Podcasts / iTunes</a></li>
  <li><a class="btn btn--inline btn--muted" target="_blank" href="{{ site.feeds.pocket_casts }}">Pocket Casts</a></li>
  <li><a class="btn btn--inline btn--muted" target="_blank" href="{{ site.feeds.overcast }}">Overcast</a></li>
  <li><a class="btn btn--inline btn--muted" target="_blank" href="{{ site.feeds.stitcher }}">Stitcher</a></li>
  <li><a class="btn btn--inline btn--muted" target="_blank" href="{{ site.feeds.rss }}">RSS</a></li>
</ul>
