.audio {
  margin-top: $space-l;
  display: grid;
  grid-gap: $space;
  grid-template-columns: 60px 1fr;
  grid-template-areas: "a a" "d d" "p p";
  
  @include breakpoint($break-xs) {
    grid-template-columns: 180px 1fr;
    grid-template-areas: "a d" "p p";
  }

  &__artwork {
    grid-area: a;
    text-align: center;
  }
  &__description {
    grid-area: d;
    
    p {
      margin-top: 0;
    }
  }
  &__player {
    grid-area: p;
  }
}
