.audio {
  margin-top: $space-lg;
  display: grid;
  grid-gap: $space-sm;
  grid-template-columns: 1fr;
  grid-template-areas: "a a" "p p" "d d";
  
  @include breakpoint($break-xs) {
    grid-gap: $space;
    grid-template-columns: 140px 1fr;
    grid-template-areas: "a d" "a d" "p p";
  }

  &__artwork {
    grid-area: a;
    
    text-align: center;
    max-width:60px;
    display: inline-block;
    margin: auto;

    @include breakpoint($break-xs) {
      max-width:none;
    }
  }
  &__description {
    grid-area: d;
    
    p {
      margin-top: 0;
    }
  }
  &__player {
    grid-area: p;
  }
}
