html {
  box-sizing:border-box;
  font-size:100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  background-color: $white;
  color: $grey-dark;
  font-family: $font-stack;
  font-weight: $fw-normal;
  @include font-size(17px);
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  color: $brand-primary;
  font-weight: $fw-bold;
  margin-top:$space;
  margin-bottom: $space;
}
h1 {
  text-transform: uppercase;

}
a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: $brand-secondary;
    text-decoration: underline;
  }
}
b, strong {
  font-weight: $fw-bold;  
}

hr {
  border:0;
  height: 2px;
  width: 100%;
  margin: $space-lg 0;
  background-color: $brand-tertiary;
}

blockquote, .quote {
  margin: $space 0;
  padding: $space;
  border-left: 0.25em solid $brand-primary;
  background-color: $grey-light;
  box-shadow: 6px 3px 16px 0px rgba(0,0,0,0.1);
  font-size: inherit;
  line-height: normal;

  cite {
    @include font-size(13px);
  }
}

audio {
  width:100%;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  @include breakpoint($break-xs, 'max') {
    padding-left: $space;
  }

  li {
    margin-bottom: $space;
  }
}
