html {
  box-sizing:border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  background-color: $white;
  color: $grey-medium;
  font-family: 'Lato', sans-serif;
  font-weight: $fw-normal;
  font-size:100%;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  color: $grey-dark;
  font-weight: $fw-bold;
  margin-top:$space;
  margin-bottom: $space;
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: $brand-secondary;
    text-decoration: underline;
  }
}

hr {
  height:1px;
  border:0;
  background-color: $grey-light;
  margin:$space-l 0;
}

blockquote, .quote {
  margin: $space 0;
  padding: $space;
  border-left: 0.5em solid $brand-primary;
  background-color: $white;
  box-shadow: 6px 3px 16px 0px rgba(0,0,0,0.1);
  font-size: inherit;
  line-height: normal;

  cite {
    @include font-size(13px);
  }
}

audio {
  width:100%;
}
