.episode-list {
  &__item {
    // @include gradient($brand-primary, $brand-secondary, "to bottom right");
    // border-radius: $radius;
    // padding: 30px;
    margin-bottom: $space-lg;
    position: relative;

    &:last-of-type {
      hr {
        display: none;
      }
    }

    h2 {
      text-transform: none;
      margin: 0;
    }
    .episode-number {
      @include font-size(40px);
      font-weight: $fw-black;
      color: $grey-very-light;
      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;
      
      @include breakpoint($break-md) {
        @include font-size(80px);
        top: -25px;
      }
    }
    .date {
      @include font-size(14px);
      font-weight: $fw-light;
      margin: 0;
    }
  }
}
