.site-header {
  @include gradient($brand-primary, $brand-secondary);
  color: $white;
  text-align: center;
  padding: $space-l 0;
}

.logo {
  margin: 0;
  padding: 0;
  color: $white;

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &__icon {
    display: block;

    svg {
      fill: $white;
      width: 50px;
      height: 50px;
      display: inline-block;
    }
  }
  &__text {
    display: block;
    line-height: normal;
    margin-top: -$space-xs;
    font-weight: $fw-bold;
    @include font-size(40px);
  }
}

.site-nav {
  padding-top: $space-l;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      @include font-size(13px);
      display: inline-block;
      margin: 0 $space;

      @include breakpoint($break-xs) {
        @include font-size(14px);
        margin: 0 $space-l 0 0;
      }

      a {
        color: $white;
      }
    }
  }
}
