.container {
  max-width:$container-width;
  padding:0 $space;
  margin:auto;
}

section {
  margin: $space-l 0;
}

header {
  text-align: center;
}

main {
  @include clearfix;
  background-color: $white;

  h1:first-of-type {
    margin-top:0;
  }
}
