.sidebar {
  background-color: $grey-light;
  padding: $space-md;

  @include breakpoint($break-md) {
    border-radius: $radius;
  }

  p {
    margin: 0;
  }

  &__item {
    margin-bottom: $space-lg;

    &--heading {
      margin: 0 0 $space-sm 0;
      padding-bottom: $space-sm;
      border-bottom: 1px solid $grey-medium;
    }
    &--list {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        border-radius: $radius;
        margin-bottom: $space-sm;
        padding: $space-sm;
        &:hover {
          background-color: darken($grey-light, 5%);
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  .subscribe-links {
    li {
      display: flex;
      align-items: center;

      img {
        margin-right: $space-sm;
        vertical-align: middle;
      }
    }
  }
}
