.sidebar {
  background-color: $grey-very-dark;
  padding: $space-lg;

  p {
    margin: 0;
  }

  &__item {
    margin-bottom: $space-lg;

    &--heading {
      margin: 0 0 $space-sm 0;
      padding-bottom: $space-sm;
      border-bottom: 1px solid $grey-medium;
    }
    &--list {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        margin-bottom: $space-md;
      }
    }
  }

  .subscribe-links {
    li {
      display: flex;
      align-items: center;

      img {
        margin-right: $space;
      }
    }
  }
}
