.cf,
.clearfix {
  @include clearfix;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
}


@for $i from 1 through 4 {
  .mt#{$i} { margin-top: #{$i}em; }
  .mb#{$i} { margin-bottom: #{$i}em; }
  .p#{$i} { padding-top: #{$i}em; }
  .pb#{$i} { padding-bottom: #{$i}em; }
}
