@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$brand-primary: #07549A;
$brand-secondary: #042541;
$brand-tertiary: #ff9d00;
$white: #ffffff;
$black: #000000;

$grey-very-light: #f7f7f7;
$grey-light: #eeeeee;
$grey-medium: #757575;
$grey-dark: #333333;
$grey-very-dark: #1a1a1a;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
$fw-black: 900;

$container-width: 1000px;

$space: 1em;
$space-xs: 0.25em;
$space-sm: 0.5em;
$space-md: 1.5em;
$space-lg: 2em;
$space-xl: 3em;

$font-stack : 'Lato', sans-serif;

$radius : 10px;