//Breakpoints
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;


$brand-primary: #92278F;
$white: #ffffff;

$grey-light: #e7e7e7;
$grey-medium: #6D6E71;
$grey-dark: #222222;



@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}
