//Breakpoints
$break-xs        : 480px;
$break-sm        : 768px;
$break-md        : 992px;
$break-lg        : 1200px;

$brand-primary   : #13b2b1;
$brand-secondary : #342766;
$white           : #ffffff;

$grey-light      : #e7e7e7;
$grey-medium     : #6D6E71;
$grey-dark       : #222222;

$fw-light        : 300;
$fw-normal       : 400;
$fw-bold         : 700;
$fw-black        : 900;

$container-width : 600px;

$space           : 1em;
$space-xs        : .25em;
$space-s         : .5em;
$space-l         : 2em;
$space-xl        : 3em;
